[Unit]
Description=uWSGI server for Finding Chart generator
After=network.target

[Service]
User={{USER}}
Group=nginx
WorkingDirectory={{PROJECT_DIR}}
ExecStart=/usr/local/bin/uwsgi --ini findingchart.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
