<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Generates finding charts from the digitized sky survey, accounting for proper motion of the target.">
    <meta name="author" content="Paul Chote">
    <meta charset="utf-8">
    <title>Finding Chart Generator</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="{{ url_for('static', filename='toolkit-inverse.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='application.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='FileSaver.min.js') }}"></script>
    <style>
      .thumb-panel { padding:0px 5px; height: 156px; width: 140px; overflow: hidden; margin: auto auto; }
      .thumb-loading { position: absolute; left: 54px; bottom:54px; }
      .thumb-label { font-size: 10px; margin: 3px 0; color: #fff; }
      .popover { max-width: none; }
      #download { margin-right: 10px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 content">
          <h1>Finding chart generator</h1>
        </div>
      </div>
      <div class="row m-b">
        <div class="col-sm-12 content form form-horizontal">
            <div class="form-group">
              <label for="coordinates">Enter targets (&lt;Name&gt; &lt;RA&gt; &lt;Dec&gt; &lt;RA-PM&gt; &lt;Dec-PM&gt; &lt;Coordinate Epoch&gt; &lt;Comment&gt;):</label>
              <textarea name="coords" class="form-control input-block" style="height: 350px"></textarea>
              <span>RA and Dec should be in sexagesimal format, proper motions in arcsec per year.</span>
            </div>
            <div class="form-group">
              <label for="outepoch" class="control-label col-sm-2">Observing epoch:</label>
              <input type="text" id="outepoch" name="outepoch" class="form-control input-block col-sm-2" value="2000.0">

              <label for="size" class="control-label col-sm-2">Size (arcmin):</label>
              <input type="text" name="size" class="form-control input-block col-sm-2" value="5">
            </div>
            <div class="form-group">
              <label for="survey" class="control-label col-sm-2">Source survey:</label>
              <select name="survey" class="form-control input-block col-sm-2">
                <option>poss2ukstu_red</option>
                <option>poss2ukstu_ir</option>
                <option selected>poss2ukstu_blue</option>
                <option>poss1_blue</option>
                <option>poss1_red</option>
                <option>quickv</option>
                <option>phase2_gsc2</option>
                <option>phase2_gsc1</option>
              </select>
              <label for="type" class="control-label col-sm-2">Chart type:</label>
              <div class="radio col-sm-4">
                <label><input type="radio" name="type" id="type-annotated" value="annotated" checked>Annotated&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label><input type="radio" name="type" id="type-raw" value="raw">Raw image</label>
              </div>
            </div>
            <button class="btn btn-primary" id="download">Download Zip</button><button class="btn btn-primary" id="generate">Generate</button>&nbsp;<span id="error" class="label-danger"></span>
        </div>
      </div>
      <div id="thumbrow" class="row m-b"></div>
      <div id="chartrow" class="row"></div>
    </div>
    <script src="{{ url_for('static', filename='toolkit.js') }}"></script>
    <script src="{{ url_for('static', filename='findingchart.js') }}"></script>
    <script>
      var generateURL = '{{ url_for('generate_chart_json') }}';
      var loadingURL = '{{ url_for('static', filename='loading.gif') }}';
      var failedURL = '{{ url_for('static', filename='failed.png') }}';

      $(document).ready(setup);
    </script>
  </body>
</html>
